table {
		border-collapse: collapse;
		width: 100%;
	}

td,th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}

#emit_value {
	width: 100%;
}

#load_database {
	width: 70%;
}


#load_file {
	width: 55%;
}
